
div#index-image {
    height: 452px;
    width: 700px;
    border: 10px solid #495867;
    margin-top: 20px;
    float: left;
}


body {
    background-color: #BDD5EA;
}


p#index-paragraph {
    text-align: left;
    margin-left: 750px;
    margin-right: 70px;
    color:#495867;
    font-size: 16px;
    font-family: arial;
}

h3#index-h3 {
    text-align: left;
    margin-left: 750px;
    margin-right: 70px;
    color:#495867;
    font-size: 20px;
    font-family: arial;

}

h2 {
    margin-top: 40px;
    margin-left: 790px;
    color:#495867;
    font-size: 30px;
    font-family: arial;
}

nav {
    text-align: center;
    padding-top: 3px;
}

nav a {
    font-family: arial;
    color: #495867;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;  
    display: inline-block;
    border: 2px solid navy;
}

nav a:link {
    background-color: white;

}

nav a:hover {
    background-color: rgba(77, 83, 85, 0.194);
    box-shadow: 2px 2px 0px navy;
    transform: translate(-2px,-2px);
}

h1 {
    text-align: center; 
    color: #495867;
    font-family: arial;
}

p {
    text-align: center;
    color: #495867;
    font-family: arial;
}






