{% extends 'base.html' %}
{% load static %}

{% block title %}Favorites{% endblock %}

{% block content %}
    <div class="h-full w-screen">
        <div class='flex items-center justify-center p-20'>
            <div class="bg-white p-6 rounded-md">
                <h1 class="font-semibold text-xl">Who are we?</h1>
                <p class="rounded-md px-4 py-2 text-center max-w-3xl mx-auto mt-4">
                    We are a team of like-minded individuals who share a vision to help others.
                    By creating a space where people can find good restaurant deals, we want to show how making a simple decision to order in person instead of online through a third-party service can make a good impact.
                    <br><br>
                    The overall goal of this site is to promote more in-person business. Many restaurants have struggled to recover from the pandemic, and having to pay delivery and service fees for apps such as Uber Eats and Grubhub is not helping. They often have no choice but to increase prices or shut down.
                    <br><br>
                    By generating more in-person foot traffic, we aim to help these restaurants by spreading the word about the awesome deals they have when ordering in person. This not only helps the restaurants, but also the customers by providing them an opportunity to save money.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
