{% extends 'base.html' %}
{% load static %}

{% block title %}Favorites{% endblock %}

{% block content %}
<div id="main">
    <h1 class='font-semibold text-xl'>Who are we?</h1>
    <p style="border: 2px solid #495867; text-align: center; width: 900px; margin:auto; padding: 5px;"> 
        We are a team of like-minded indivuals who share a vision to help others. 
        By creating a space where people can find good restaurant deals, we want to show how making a simple decision to order in person instead of online through a third-party service can make a good impact.
            <br><br>
            The overall goal of this site is to promote more in-person business. Many restaurants have stuggled to recover from the pandemic, and having to pay delivery and service fees for apps such as Uber Eats and Grubhub is not helping. They often have no choice but to increase prices or shut down.
            <br><br>
            By generating more in-person foot traffic, we aim to help these restaurants by spreading the word about the awesome deals they have when ordering in person. This not only helps the restaurants, but also the customers by providing them an opportunity to save money.
    </p>
</div>
{% endblock %}
