{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FAQ</title>

        <link rel="stylesheet" type="text/css" href="{% static 'homepage/styles.css' %}">

    </head>
    <body>
        <div id="main">
            <header>
                <h1 style = "text-align: center; color: #495867;">
                    Restaurant Deals
                </h1>
             </header>
            {% include 'navbar.html' %}
        </div>
        <p>Leave us any questions you have here!</p>
        <p>Jessica was here</p>
    </body>
</html>
