{% extends 'base.html' %}
{% load static %}

{% block title %}FAQ{% endblock %}

{% block content %}
    <div class="h-full w-screen">
        <div class="flex items-center justify-center p-20">
            <div class="bg-white p-6 rounded-md">
                <div class="max-w-3xl rounded-md p-6">
                    <h1 class="font-semibold text-xl">What is this?</h1>
                    <p class="mb-4">This is a website designed to gather all the latest restaurant deals near you.</p>

                    <h1 class="font-semibold text-xl">Who is this for?</h1>
                    <p class="mb-4">Anyone who wants to save money and help local restaurants!</p>

                    <h1 class="font-semibold text-xl">How do I use this?</h1>
                    <p class="mb-4">Click on the "Food Deals" tab at the top and it will direct you to a list of restaurants and the deals that they are offering.<br/>Go to the restaurant and mention the deal when ordering.</p>

                    <h1 class="font-semibold text-xl">What's the catch?</h1>
                    <p>You have to order in person! This way, restaurants are saving money from extra third-party fees, and you get to save money on food!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
