{% extends 'base.html' %}
{% load static %}

{% block title %}Favorites{% endblock %}

{% block content %}
<style>.fcc-btn {
  background-color: #2d95d5;
  border-radius: 20px;
  color: white;
  padding: 3px 20px;
  text-decoration: none;
}
.fcc-btn:hover {
  background-color: #223094;
}</style>
<div class="h-full w-screen">

  <!-- Cards -->
  <div class='h-full w-full flex justify-evenly p-10 items-center'>
    <div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-24">

    {% for restaurant in user.customer.favorite_rest.all %}
      <div class="card max-w-xs max-h-full rounded-xl overflow-hidden shadow-2xl transform transition duration-500 hover:scale-105 bg-white">
        <!-- Card image -->
        <img class="w-full" src="{% static 'homepage/sample_restaurant.jpg' %}" alt="Restaurant">

        <!-- Body -->
        <div class="px-6 py-4 bg-white">
          <div class="font-bold text-xl mb-2">{{ restaurant.rest_name }} at {{ restaurant.rest_location }}</div>
          {% for deal in restaurant.deals.all %}
          <p class="text-gray-700 text-base">Deals: {{ deal.deal_name }}</p>
          {% endfor %}
        </div>

        <!-- Hashtags -->
        <div class="px-6 pt-4 pb-2 bg-white">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#yummy</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#food</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#summer</span>
        </div>
        <div class="px-6 pt-4 pb-2 bg-white">
          <a href="{% url 'unfavorite_rest' restaurant.id %}" class="fcc-btn" role="button" aria-disabled="true">Remove from Favorites</a>
        </div>
      </div>
    {% endfor %}
    </div>
  </div> <!-- End of cards -->

</div> <!-- End of flex container -->
{% endblock %}
