{% extends 'base.html' %}

{% block title %}
{% endblock %}



{% block content %}

  <div class='w-full h-full flex items-center justify-center lg:rounded-xl'>
    <div class='w-96 flex p-6 flex-col bg-white rounded-xl'>

      <h2 class="mb-4 text-lg font-medium text-gray-900">You are not logged in and cannot use this feature</h2>



      <div class="flex flex-col justify-center items-center">
        <a href="{% url 'login-user' %}" class='w-32 block'>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 w-full">
            Login
          </button>
        </a>

        <a href="{% url 'register-user' %}" class='w-32 block'>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
            Register
          </button>
        </a>
      </div>

    </div>
  </div>

{% endblock %}
