{% extends 'base.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}



<div class="flex-1 h-full p-4 bg-blue-500">
  <div class="flex items-center justify-center p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transition duration-500">

    <div class="flex bg-gray-100 p-4 w-96 space-x-4 rounded-lg">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-30" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
      <input class="bg-gray-100 outline-none w-96" type="text" placeholder="Restaurant name or keyword.." />
    </div>

    <div class="flex py-3 px-4 rounded-lg text-gray-500 font-semibold cursor-pointer">
      <span>All categories</span>

      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </div>

    <div class="bg-blue-600 py-3 px-5 text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
      <span>Search</span>
    </div>

  </div>
</div>



{% endblock %}





































<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Deal Of The Day</title>

        <link rel="stylesheet" type="text/css" href="{% static 'homepage/styles.css' %}">

    </head>
    <body>
    <div id="main">
        <header>
        <h1 style = "text-align: center; color: #495867;">Restaurant Deals</h1>
        </header>
        {% include 'navbar.html' %}
    </div>

    <form id="form" style = "text-align: center; margin-top: 10px;"> 
        <input style = "width: 400px; height: 30px;"type="search" id="query" name="q" placeholder="Search...">
        <button>Search</button>
    </form>
    </body>
</html> -->




